doctype
html(lang="ja")
    head
        meta(charset="utf-8")
        title hoge
    link(rel='stylesheet', type='text/css', href='css/screen.css')
        script(src="./js/all.min.js", charset="UTF-8")
    body
        //comment
        header
            hgroup
        section
            article
            article
        nav
        footer
